body #main {
  background-color: #fff;
}
body .d-header-icons {
  margin-right: 25px;
}
body .d-header-icons .d-icon {
  fill: #fff;
  opacity: 1;
}
body .d-header .title a {
  display: block;
  background: url("assets/img/logo.svg") 0 0 no-repeat;
  width: 120px;
  height: 40px;
}
body .d-header .title a img {
  display: none;
}
body .list-controls .select-kit {
  border-radius: 4px;
  border-color: #31393a;
}
body .list-controls .select-kit .select-kit-header .caret-icon {
  background-color: #fff;
  background-color: transparent !important;
  color: #000 !important;
  opacity: 1;
}
@media (max-width: 1024px) {
  body .list-controls .navigation-container {
    justify-content: center;
  }
}
body .discourse-no-touch {
  background-color: #f5f5f5;
}
body .list-controls .select-kit.categories-admin-dropdown .select-kit-header .d-icon {
  fill: #31393a;
}
body .list-controls .select-kit.categories-admin-dropdown button {
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-right: 40px !important;
}
@media (max-width: 1024px) {
  body .list-controls .select-kit.categories-admin-dropdown button {
    margin-right: 0 !important;
  }
}
@media (max-width: 1024px) {
  body .category-list.with-topics {
    max-width: 280px;
    margin: 0 auto;
    display: block;
  }
}
body .category-list tbody {
  border-top: 1px solid #f2f2f2;
}
body .category-list tbody .category {
  border-color: transparent !important;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
body .category-list tbody .category h3 .category-title-link {
  padding: 50px;
  max-width: 150px;
}
body .category-list tbody .category:hover {
  transition: box-shadow 0.2s;
  box-shadow: 1px 5px 15px rgba(0,0,0,0.4);
}
@media (max-width: 1024px) {
  body .category-list-item.category {
    display: block;
    border-color: transparent !important;
    box-shadow: 0 0px 8px rgba(0,0,0,0.4);
    border-radius: 8px;
    margin: 15px 0;
  }
}
@media (max-width: 1024px) {
  body .nav-pills {
    margin-top: 20px;
  }
}
body .nav-pills >li.active {
  background-color: #fff;
}
body .nav-pills >li.active >a {
  font-weight: 600;
  background-color: #fff;
}
body .nav-pills >li.active:hover {
  background-color: #fff;
}
body .list-controls .combo-box .combo-box-header {
  border-radius: 4px;
  background-color: #fff !important;
  border-color: #31393a !important;
}
body .list-controls .combo-box .combo-box-header .badge-category-bg {
  background-color: #fff !important;
}
body .list-controls .combo-box .combo-box-header .category-name {
  color: #31393a;
}
body .category-boxes .category-box {
  border-color: transparent !important;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  transition: box-shadow 0.2s;
}
body .category-boxes .category-box .category-box-inner {
  border: none;
}
body .category-boxes .category-box:hover {
  box-shadow: 1px 5px 15px rgba(0,0,0,0.4);
}
body .list-controls .btn {
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #31393a;
  opacity: 1;
}
body .list-controls .btn:hover {
  color: #31393a;
}
body .list-controls .btn .d-icon {
  fill: #31393a;
  opacity: 1;
}
body .category-logo.aspect-image {
  margin-bottom: 40px;
}
body .footer-message.ember-view h3 >a {
  text-decoration: underline;
}
body .footer-message.ember-view .education .badge.new-posts.badge-notification {
  background-color: #31393a !important;
}
body .select-kit .d-icon {
  opacity: 1 !important;
}
body .badge-wrapper .badge-category .d-icon {
  fill: #31393a;
}
body .category-heading p {
  max-width: 500px;
  font-size: 25px;
  font-weight: 600;
  margin-left: 25px;
}
