body .d-header-icons .d-icon {
  fill: #fff;
}
body .d-header .title a {
  display: block;
  background: url("./img/logo.svg") 0 0 no-repeat;
  width: 120px;
  height: 40px;
}
body .d-header .title a img {
  display: none;
}
body .list-controls .select-kit {
  border-radius: 4px;
  border-color: #31393a;
}
body .discourse-no-touch {
  background-color: #f5f5f5;
}
body .list-controls .select-kit.categories-admin-dropdown .select-kit-header .d-icon {
  fill: #fff;
}
body .list-controls .select-kit.categories-admin-dropdown button {
  background-color: #31393a;
  border-radius: 4px;
}
body .category-list tbody {
  border-top: none;
}
body .category-list tbody .category {
  border-color: transparent !important;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
body .nav-pills >li >a.active {
  font-weight: 900;
}
