body
    #main
        background-color #ffffff
    .d-header-icons
        margin-right 25px
        .d-icon
            fill #ffffff
            opacity 1
    .d-header 
        .title 
            a
                display block
                background url('assets/img/logo.svg') 0 0 no-repeat
                width 120px
                height 40px
                img 
                    display none
    .list-controls 
        .select-kit
            border-radius 4px
            border-color #31393A
            .select-kit-header
                .caret-icon
                    background-color #ffffff;
                    background-color transparent !important
                    color #000000 !important
                    opacity 1
    .discourse-no-touch
        background-color #F5F5F5
    .list-controls 
        .select-kit
            &.categories-admin-dropdown 
                .select-kit-header 
                    .d-icon
                        fill #31393A
                button
                    background-color #F5F5F5
                    border-radius 4px
                    margin-right 40px !important
    .category-list 
        tbody
            border-top 1px solid #f2f2f2
            .category
                border-color transparent !important
                border-radius 4px
                box-shadow 0 3px 6px rgba(0, 0, 0, .16)
                h3
                    .category-title-link
                        padding 50px
                        max-width 150px
                &:hover
                    transition box-shadow .2s
                    box-shadow 1px 5px 15px rgba(0,0,0,.4)
    .nav-pills
        >li
            &.active
                background-color #fff
                >a
                    font-weight 600
                    background-color #fff
                &:hover
                    background-color #fff
    .list-controls 
        .combo-box 
            .combo-box-header
                border-radius 4px
                background-color #ffffff !important
                border-color #31393A !important
                .badge-category-bg
                    background-color #ffffff !important
                .category-name
                    color #31393A
                    
    .category-boxes 
        .category-box 
            border-color transparent !important
            border-radius 4px
            box-shadow 0 3px 6px rgba(0, 0, 0, .16)
            transition box-shadow .2s
            .category-box-inner
                border none
            &:hover
                box-shadow 1px 5px 15px rgba(0,0,0,.4)
    .list-controls 
        .btn 
            border-radius 4px
            background-color #f5f5f5
            color #31393A
            opacity 1
            &:hover 
                color #31393A
            .d-icon 
                fill #31393A
                opacity 1
    .category-logo
        &.aspect-image
            margin-bottom 40px
    .footer-message
        &.ember-view
            h3
                >a
                    text-decoration underline
    .select-kit
        .d-icon
            opacity 1 !important
    .badge-wrapper 
        .badge-category 
            .d-icon
                fill #31393A
    